absl-py==0.11.0
anaconda-client==1.7.2
anaconda-navigator==1.9.7
annoy==1.17.0
apipkg==1.5
Appium-Python-Client==0.49
appnope==0.1.0
APScheduler==3.6.3
asn1crypto==0.24.0
astor==0.8.1
asttokens==2.0.3
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.3.0
Automat==20.2.0
autopep8==1.4.4
backcall==0.1.0
bayesian-optimization==1.2.0
bcrypt==3.1.7
beautifulsoup4==4.7.1
bert-serving-client==1.10.0
bert-serving-server==1.10.0
bert4keras==0.9.1
bitarray==1.5.3
bleach==3.1.0
boto==2.49.0
boto3==1.12.5
botocore==1.15.5
bottle==0.12.18
cachetools==4.0.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
clyent==1.2.2
colorama==0.4.3
conda==4.7.5
conda-build==3.18.5
conda-package-handling==1.3.10
conda-verify==3.1.1
constantly==15.1.0
Counter==1.0.0
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.3
docutils==0.15.2
dominate==2.4.0
eli5==0.10.1
entrypoints==0.3
execnet==1.7.1
executing==0.4.1
fabric==2.5.0
fabric2==2.5.0
fake-useragent==0.1.11
filelock==3.0.12
flake8==3.7.8
Flask==1.1.1
Flask-APScheduler==1.11.0
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.8
Flask-SocketIO==4.3.0
Flask-WTF==0.14.3
flatbuffers==1.12
future==0.17.1
gast==0.3.3
gensim==3.8.1
gevent==21.1.2
glob2==0.6
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
GPUtil==1.4.0
graphviz==0.13.2
greenlet==1.0.0
grpcio==1.32.0
h5py==2.10.0
hanziconv==0.3.2
hyperlink==19.0.0
icecream==2.0.0
idna==2.8
imageio==2.8.0
importlib-metadata==0.20
importlib-resources==3.3.0
incremental==17.5.0
invoke==1.3.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itchat==1.2.32
itsdangerous==1.1.0
jedi==0.13.3
jieba==0.41
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.14.1
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==0.35.6
jupyterlab-server==0.2.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.46.0
keras-transformer==0.38.0
kiwisolver==1.1.0
libarchive-c==2.8
lief==0.9.0
lightgbm==3.1.1
llist==0.6
lxml==4.4.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.4
notebook==5.7.8
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
opencc-python-reimplemented==0.1.6
opt-einsum==3.3.0
packaging==19.1
pandas==0.25.3
pandocfilters==1.4.2
paramiko==2.6.0
parsel==1.5.2
parso==0.4.0
pdfkit==0.6.1
pdfminer3k==1.3.1
PDPbox==0.2.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pinyin==0.4.0
pipenv==2018.11.26
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
prometheus-client==0.6.0
promise==2.3
prompt-toolkit==2.0.9
Protego==0.1.16
protobuf==3.14.0
psutil==5.6.2
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycryptodome==3.9.7
PyDispatcher==2.0.5
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
PyHamcrest==2.0.2
pymongo==3.11.3
PyMySQL==0.9.3
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pypng==0.0.20
PyQRCode==1.2.1
pyrsistent==0.14.11
PySocks==1.7.0
pytesseract==0.3.0
pytest==5.1.2
pytest-forked==1.1.3
pytest-html==2.0.0
pytest-metadata==1.8.0
pytest-ordering==0.6
pytest-rerunfailures==8.0
pytest-timeout==1.3.3
pytest-xdist==1.30.0
python-dateutil==2.8.0
python-engineio==3.13.0
python-socketio==4.6.0
pytz==2019.1
PyWavelets==1.1.1
PyYAML==5.1
pyzmq==18.0.0
QtPy==1.7.1
queuelib==1.5.0
redis==3.5.3
regex==2020.11.13
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==2.1.0
seaborn==0.10.0
selectolax==0.2.10
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shap==0.35.0
six==1.15.0
sklearn==0.0
smart-open==1.9.0
soupsieve==1.8
stanfordcorenlp==3.9.1.1
tabulate==0.8.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-datasets==4.1.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.25.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tfds-nightly==4.1.0.dev202012240107
tifffile==2020.6.3
tokenizers==0.10.1
torch==1.4.0
tornado==6.0.2
tqdm==4.32.1
traitlets==4.3.2
transformers==4.3.3
Twisted==20.3.0
typing-extensions==3.7.4.3
tzlocal==2.0.0
urllib3==1.24.2
utils==1.0.1
virtualenv==16.7.5
virtualenv-clone==0.5.3
visitor==0.1.3
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.4.2
wikiextractor==3.0.4
wordcloud==1.6.0
wrapt==1.12.1
WTForms==2.3.3
wxpy==0.3.9.8
xgboost==1.0.2
yapf==0.28.0
zipp==0.6.0
zope.event==4.5.0
zope.interface==5.1.0
